<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SalonManager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Strona główna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointmentpage">
                <span class="oi oi-calendar" aria-hidden="true"></span> Wizyty 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customerpage">
                <span class="oi oi-people" aria-hidden="true"></span> Klienci
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="servicepage">
                <span class="oi oi-briefcase " aria-hidden="true"></span> Usługi
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="analysispage">
                <span class="oi oi-bar-chart " aria-hidden="true"></span> Analizy
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
